<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Витрина товаров</title>
</head>

<body>
    <form th:action="@{/upload}" method="post" enctype="multipart/form-data">
        <p>
            <label for="loadfile">Выбрать файл: </label>
            <input type="file" id="loadfile" style="width:300px;" accept=".csv" name="uploadcsvfile"><br>
            <label for="images">Выбрать картинки: </label>
            <input type="file" multiple="multiple" id="images" style="width:300px;" accept="image/*" name="images"><br>
            <button type="submit">Загрузить товары</button>
        </p>
    </form>
</body>
</html>